/*-- scss:defaults --*/

$presentation-font-size-root: 30pt;
$presentation-title-slide-text-align: "left";


/* Tamanho da fonte dos code chunks */
pre code {
  font-size: 28pt !important;  /* Força a aplicação do estilo */
}

/* Bloco de código preenchendo todo o frame */
.reveal code {
  max-height: 100% !important;
}

.reveal .slide-logo {
   max-height: 1em !important;
}



